@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Encode Sans', sans-serif;
    background-color: rgb(255, 255, 255);
}

#favicon {
    border-radius: 50%;
}

.topo, .nav-itens {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 80px;
   font-weight: bold;
   border-bottom: solid 1px #f5f6f7;
}

.body {
    display: flex;
    justify-content: center;
}

.container-principal {
    max-width: 1250px;
    min-width: 250px;
    display: flex;
    flex-direction: row;
}

.left-side, .right-side {
    max-width: 625px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
}

.right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-left: solid #ebedef 1px;
}

.column1, .column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.column1 {
    border-right: solid #ebedef 1px;    
    padding-right: 20px;
}

.column2 {
    padding-left: 20px;
}

.news-notice {
    font-size: 52px;
    font-weight: bold;
    color: #c4160c;
}

.news-notice-sec {
    font-size: 18px;
    color: #303134;
}

.new-box {
    width: 193px;
    padding-top: 5px;
}

.new-box-c {
    width: 240px;
    padding-top: 5px;
}

.img-box {
    border-radius: 12px;
    width: 193px;
    height: 110px;
}

.img-box-column {
    border-radius: 12px;
    width: 240px;
    height: 128px;
}

.outras-noticias1, .outras-noticias2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    padding-top: 5px;
    border-top: solid #ebedef 1px;
}

.box-content, .box-context, .box-context-c1, .box-context-c2 {
    font-size: 14px;
}

.box-context {
    color: #C4170C;
}

.box-title {
    color: #2F3134;
    font-weight: bold;
    font-size: 20px;
}

.box-content {
    color: #2F3134;
}

.box-context-c1 {
    color: #16AE54;
}

.box-context-c2 {
    color:  #EC8006;
}