:root {
    --borda: #DBDBDB;
    --branco: #FFFFFF;
    --branco-escuro: #FAFAFA;
    --background: #E5E5E5;
    --azul-flourescente: #139EF2;
    --cinza-claro: #C7C7C7;
    --cinza-medio: #8E8E8E;
    --preto-claro: #262626;
    --preto: #000000;
}