/*  Geral   */

@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;400 & display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*  Header  */

.topo {
    width: 100%;
    height: 54px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--branco);
    border-bottom: var(--borda) solid 1px;

    position: fixed;
    top: 0;
    z-index: 1;
}

.topo-content {
    width: 935px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo .logo {
    display: flex;
    align-items: center;
}

.logo .div {
    height: 15px;
    margin: 10px;

    border-right: var(--borda) solid 1px;
}

.pesquisar {
    width: 215px;
    height: 28px;

    font-size: 12px;
    color: var(--cinza-medio);

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--branco-escuro);
    border: var(--cinza-claro) solid 1px;
    border-radius: 3px;
}

.nav .icon {
    margin: 10px;
}

/*  Main    */

.container-principal {
    width: 935px;

    display: flex;
    justify-content: space-between;
}

/*  Main > Stories  */

.stories {
    width: 614px;
    height: 118px;
    margin-top: 88px;
    margin-bottom: 24px;
    padding: 10px 20px;

    display: flex;

    background-color: var(--branco);
    border: var(--borda) solid 1px;
    border-radius: 3px;

    overflow: hidden;
    position: relative;
}

#set {
    width: 30px;
    height: 30px;
    right: 5px;
    top: 49px;

    position: absolute;
    z-index: 1;
}

.stories-perf {
    height: 98px;
    width: 66px;
    margin-right: 25px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.stories-perf img {
    width: 66px;

    border-radius: 50%;

    position: absolute;
}

.stories-perf .perf {
    width: 58px;
    margin: 4px;

    position: relative;
}

.stories-perf p {
    font-size: 12px;
    font-weight: bold;
    color: var(--preto-claro);
}

/*  Main > post     */

.post {
    max-width: 614px;
    min-width: 250px;
    margin-bottom: 60px;

    background-color: var(--branco);
    border: var(--borda) solid 1px;
    border-radius: 3px;
}

.post .header,
.footer .interaction {
    padding: 10px 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header,
.footer {
    height: 76px;
}

.post .header .perfil {
    display: flex;
    align-items: center;
}

.perfil-pic {
    width: 32px;
    margin-right: 15px;

    border-radius: 50%;
}

.post .perfil p {
    font-size: 14px;
    font-weight: bold;
    color: var(--preto-claro);
}

.postagem {
    width: 100%;
}

.interaction .icons ion-icon {
    margin-right: 5px;
}

.info {
    padding: 0px 20px 0px;

    display: flex;
    align-items: center;
}

.info img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
    
    border-radius: 50%;
}

/*  Main > sidebar  */

.sidebar {
    width: 293px;
    margin-top: 88px;

    align-items: flex-start;
}

.sidebar img {
    border-radius: 50%;
}

.sidebar .seu-perfil,
.sidebar .perfil-sugest,
.sidebar .info-perfil {
    margin: 0px 0px 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sidebar .seu-perfil {
    margin: 25px 0px;
}

.sidebar .seu-perfil img {
    width: 60px;
}

.sidebar .info {
    padding: 0px 15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.perfil-sugest img {
    width: 32px;
}

.sugestoes-pra-voce .sugest {
    margin: 10px 0px;

    font-size: 12px;
    font-weight: bold;
    color: var(--cinza-medio);

    display: flex;
    justify-content: space-between;
}

.sugestoes-pra-voce .sugest .vt {
    color: var(--preto-claro);
}

.sugestoes-pra-voce .perfil-sugest {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.perfil-sugest .info-perfil {
    display: flex;
}

.info {
    font-size: 14px;
    color: var(--preto-claro);
}

.info .name {
    font-size: 14px;
    color: var(--cinza-medio);
}

.info .follow {
    font-size: 12px;
    color: var(--cinza-medio);
}

.perfil-sugest .seguir {
    font-size: 12px;
    font-weight: bold;
    color: var(--azul-flourescente);
}

.informacoes-adicionais {
    font-size: 11px;
    color: var(--cinza-claro);
}

/*  Responsive  */

.footer-mobile, .topo-mobile {
    display: none;
}